.todolist-container {
    width: 60vw;
    margin: 0 auto;
  }
  
  .add-input {
    margin-right: 20px;
  }
  
  .todo-contatiner {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    border-radius: 5px;
  }
  
  .btn {
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border-color: darkgray;
  }
  
  .btn:hover {
    background-color: darkgray;
  }